version: 2.1

latest: &latest
  pattern: "^1.18.*-erlang-27.*$"

tags: &tags
  [
    1.18.3-erlang-27.3-alpine-3.21.3,
    1.17.3-erlang-27.2.1-alpine-3.20.5,
    1.16.3-erlang-26.2.5-alpine-3.19.1,
    1.15.7-erlang-26.2.4-alpine-3.18.6,
    1.14.5-erlang-25.3.2.11-alpine-3.17.7,
    1.13.4-erlang-24.3.4.17-alpine-3.16.9
  ]

jobs:
  build-test:
    parameters:
      tag:
        type: string
    docker:
      - image: hexpm/elixir:<< parameters.tag >>
    working_directory: ~/repo
    environment:
      LC_ALL: C.UTF-8
    steps:
      - run:
          name: Install system dependencies
          command: apk add --no-cache build-base
      - checkout
      - run:
          name: Install hex and rebar
          command: |
            mix local.hex --force
            mix local.rebar --force
      - restore_cache:
          keys:
            - v1-mix-cache-<< parameters.tag >>-{{ checksum "mix.lock" }}
      - run: mix deps.get
      - run: mix test --warnings-as-errors || mix test --failed
      - when:
          condition:
            matches: { <<: *latest, value: << parameters.tag >> }
          steps:
            - run: mix format --check-formatted
            - run: mix deps.unlock --check-unused
            - run: mix docs
            - run: mix hex.build
            - run: mix credo -a --strict
            - run: mix dialyzer
      - save_cache:
          key: v1-mix-cache-<< parameters.tag >>-{{ checksum "mix.lock" }}
          paths:
            - _build
            - deps

  automerge:
    docker:
      - image: alpine:3.21.3
    steps:
      - run:
          name: Install GitHub CLI
          command: apk add --no-cache build-base github-cli
      - run:
          name: Attempt PR automerge
          command: |
            author=$(gh pr view "${CIRCLE_PULL_REQUEST}" --json author --jq '.author.login' || true)

            if [ "$author" = "app/dependabot" ]; then
              gh pr merge "${CIRCLE_PULL_REQUEST}" --auto --rebase || echo "Failed trying to set automerge"
            else
              echo "Not a dependabot PR, skipping automerge"
            fi

workflows:
  checks:
    jobs:
      - build-test:
          name: << matrix.tag >>
          matrix:
            parameters:
              tag: *tags

      - automerge:
          requires: *tags
          context: org-global
          filters:
            branches:
              only: /^dependabot.*/
